extends layout
block content
    h1 ASSIGNMENT SITE
    h3  
        a(href="/newAssignmentForm.html") Nuovo Assignment
    h3  
        a(href="/changeAssignment.html") Modifica Assignment esistente
    h3  
        a(href="/viewAssignment.html") Visualizza Assignment esistente
    h3  
        a(href="/deleteAssignment.html") Cancella Assignment esistente
    p Sito ancora in preparazione